@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

html {
	font-family: 'Comfortaa', cursive;
}

body {
 	padding-top: 50px;
 	padding-right: 35%;
 	padding-left: 35%;
}

h1 {
	font-family: 'Comfortaa', cursive;
	color: black;
}