
@font-face {
	font-family: 'Kobe';
	src: 	url(../assets/kobe/Kobe-Regular.woff2) format('woff2'),
			url(../assets/kobe/Kobe-regular.otf) format('otf')
			url(../assets/kobe/Kobe-Regular.woff) format('woff');

}

html {
	font-family: Kobe, sans-serif;
	
}

body {
	margin: 5rem;
	padding-right:10%;

}

main {
  display:grid;
  grid-template-columns: 4(min-content);
  grid-template-rows: auto;
  padding-top: 10%;
  padding-right: 10%;
}

h4 {
	font-family: Kobe, sans-serif;
	font-size: 60px;
}

a {
	color: black;
	font-size: 30px;
	line-height: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.homeimg {
	grid-column: 1/2;
	grid-row:1 /2;

}

.hometext {
	grid-column: 2/3;
	grid-row:1 /2;
	text-align: justify;
	text-justify: inter-word;
}

.title {
	font-family: Kobe, sans-serif;
	font-size: 70px;
	margin: 10px;

}