

@font-face {
	font-family: 'Sabon';
	src: 	url(../../assets/sabon/Sabon-Roman.woff2) format('woff2'),
			url(../../assets/sabon/Sabon-Roman.woff) format('woff');

}
@font-face {
	font-family: 'Sabon IT';
	src: 	url(../../assets/sabon/Sabon-italic.woff2) format('woff2'),
			url(../../assets/sabon/Sabon-italic.woff) format('woff');

}

html {
	font-family: Sabon, serif;
}

body {
	margin: 50px;
	background-color: #210E0B;
	color: #D2B898;

}

::-moz-selection { /* Code for Firefox */
  background: #988268;
}

::selection {
  background: #988268;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 150px 1fr 1fr 1fr 1fr;
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 150px 1fr 1fr;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
}

.title {
	font-size: 50px;
	text-align: center;
}

.clock {
	grid-column-start: 5;
    text-align: end;
}

.bodytext {
	font-size:35px;
	grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

p {
	margin:0;
}

.bodytext2 {
	font-size:35px;
	grid-column-start: 2;
    grid-column-end: 5;
	grid-row-start: 5;
    grid-row-end: 6;
    margin-left: 150px;
    margin-bottom: 50px;
}

.bodytext3 {
	font-size:35px;
	grid-column-start: 2;
    grid-column-end: 5;
	grid-row-start: 2;
    grid-row-end: 4;
}

a {
	color: #D2B898;
	text-decoration: none;
}

.cursor {
	cursor: url(../../assets/cursor2.png) 42 42, auto;
	overflow: visible;
	height: 100vh;
}

@keyframes beauty { 
    0% { 
    	transform: translateY(0); 
        } 
    100% {
    	transform: translateY(+100px);
    }
}

.beauty {
	position: fixed;
	animation: beauty 1s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
	grid-column-end:2;
}

.colorchange {
    background: linear-gradient(270deg, #bfa18b, #957157, #645042);
    background-size: 600% 600%;
    -webkit-animation: ColorChange 11s ease infinite;
    animation: ColorChange 11s ease infinite;
}

@-webkit-keyframes ColorChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ColorChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.shadow1 {
	position: absolute;
	margin: 0 auto;
  left: 0;
  right: 0;
  top:0;
  animation: shadowchangetop 20s ease infinite;
  z-index:-1;
}

.shadow2 {
	position: absolute;
	margin: 0 auto;
    left: 0;
    right: 0;
    bottom:0;
    animation: shadowchangebottom 20s ease infinite;
    z-index:-1;
}

@keyframes shadowchangetop { 
    0% { 
    	transform: translateY(0);
    }
    50% {
    	transform: translateY(-100px);
    }
    100% {
    	transform: translateY(0);
    }
}

@keyframes shadowchangebottom { 
   0% { 
    	transform: translateY(+50px);
    }
    80% {
    	transform: translateY(+200px);
    }
    100% {
    	transform: translateY(+50px);
    }
}

#dogPic, #catPic {
  width: 20px;
  height: 20px;
  position: absolute;
  background: red;
  top: 10px;
  left: 10px;
}


audio {
  filter: saturate(5) sepia(20) grayscale(0.4);
}

.shadowsvg {
  z-index: 0;
}

.arrow {
  z-index: 3;
}

@media screen and (max-width: 800px) {
	body {
	margin:30px;
	}
  .bodytext {
    font-size:25px;
	  grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .toptitle {
  	grid-column-start: 1;
    grid-column-end: 4;
  }
  .bodytext2 {
	font-size:25px;
	grid-column-start: 1;
    grid-column-end: 6;
	grid-row-start: 5;
    grid-row-end: 6;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .bodytext3 {
	font-size:25px;
	grid-column-start: 1;
    grid-column-end: 6;
	grid-row-start: 2;
    grid-row-end: 4;
  }
   .title {
   	font-size:40px;
  }
   .shadow1 {
	position: absolute;
	margin: 0 auto;
    left: 0;
    right: 0;
    top:0;
    animation: shadowchangetop 20s ease infinite;
  }
   .shadow2 {
	position: absolute;
	margin: 0 auto;
    left: 0;
    right: 0;
    bottom:0;
    animation: shadowchangebottom 20s ease infinite;
  }

@keyframes shadowchangetop { 
    0% { 
    	transform: translateY(0);
    }
    50% {
    	transform: translateY(-30px);
    }
    100% {
    	transform: translateY(0);
    }
}

@keyframes shadowchangebottom { 
   0% { 
    	transform: translateY(+10px);
    }
    80% {
    	transform: translateY(+50px);
    }
    100% {
    	transform: translateY(+10px);
    }
}

}






