

#smiley {
	height: 500px;
	animation: spinType 5s infinite;
} 

@keyframes spinType {
	0% {
		transform: rotate(0);
	}
	60% {
		transform: rotate(0.7turn);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes colorSwap {
	0% {
		fill: default;
	}
	100% {
		fill: yellow;
	}
}

@keyframes fade {
	0% {
		opacity:1;
	}
}