
html {
	margin: 20px;
}

body {
    animation: colorchange 10s linear infinite;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}


.sun-item {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}

.house-item {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 6;
}

#sun {
	animation: sun-size 10s infinite;
}

@keyframes sun-size { 
    0% { 
    	transform: scale(0.2); 
        } 
  
    50% { 
        transform: scale(1.2); 
        } 
    100% {
    	transform: scale(0.2);
    }
}

@keyframes colorchange
    {
      0%   {background: black;}
      10%  {background: #A51406;}
      20%  {background: #FBF698;}
      50%  {background: white;}
      70%  {background: #FBF698;}
      90%  {background: #A51406;}
      100%  {background: black;}
   }




